{% extends 'layout.html' %}
{% load static %}

{% block content %}
	<div class="container my-3">
    <div class="row">
        <form method="post" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-8 mx-auto">
                                <div class="bg-primary mt-3 p-3 fs-3 text-center">Yeni Öneri Yazısı</div>
                <div class="p-4" style="background-color: #F0F8FF;">
{% for field in form %}
<div class="mb-3"  {% if field.errors %} invalid {% endif %} >
    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
{{ field }}
{% if field.errors %} <div class="text-danger"> {{ field.errors }}</div> {% endif %}
</div>
{% endfor %}
<button class="btn btn-primary" type="submit">Kaydet</button>
                </div>
            </div>
        </form>
    </div>
    </div>
{% endblock %}

