{% extends 'layout.html' %}
{% load static %}

{% block content %}
	<div class="container my-3">
            <div class="row">
                <div class="col-md-4 mx-auto">
                    <div class="bg-primary mt-3 p-3 fs-3 text-center">Üye Girişi</div>
                    <div class="p-4" style="background-color: #F0F8FF;">
                        <form method="post">
                            {% csrf_token %}
                            {% if error %}
                            	<div class="alert alert-danger">
                                {{ error }}
                                </div>
                            {% endif %} 
                            <div class="mb-3">
                                <label for="username">Kullanıcı Adı</label>
                                <input type="text" name="username" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="password">Parola</label>
                                <input type="password" name="password" class="form-control" required>
                            </div>
                            <div class="mb-5">
                                <button type="submit" class="btn btn-primary float-end ps-5 pe-5" name="login">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

